<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create New User</title>
</head>
<body>
<h1>Create New User</h1>
<form th:method="post" th:action="@{/users}" th:object="${user}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{username}" id="name" required>
  <br/>

  <label for="surname">Enter surname: </label>
  <input type="text" th:field="*{surname}" id="surname" required>
  <br/>

  <label for="password">Enter password: </label>
  <input type="password" th:field="*{password}" id="password"/>
  <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
  <br/>

  <input type="submit" value="Create!"/>
</form>

<br/>
<form th:action="@{/logout}" th:method="POST">
  <input type="submit" value="Logout">
</form>

</body>
</html>