<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Details</title>
</head>
<body>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Details</title>
</head>
<body>

<p th:text="'Имя пользовтеля: ' + ${user.getUsername()}">VALUE</p>
<p th:text="'Фамилия пользовтеля: ' + ${user.getSurname()}">VALUE</p>
<p th:text="'Id пользовтеля: ' + ${user.getId()}">VALUE</p>
<p th:text="'Зашифрованный пароль пользовтеля: ' + ${user.getPassword()}">VALUE</p>
<p th:text="'Роль пользовтеля: ' + ${user.getRole()}">VALUE</p>
<br/>
<a th:href="@{/users/edit(id=${user.getId()})}">Edit</a>

<form th:method="post" th:action="@{/users/delete}">
  <input type="hidden" name="id" th:value="${user.getId()}"/>
  <input type="submit" value="Delete"/>
</form>

</body>

<br/>
<form th:action="@{/logout}" th:method="POST">
  <input type="submit" value="Logout">
</form>

</html>

</body>
</html>