<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<p th:text="'Вы авторизовались, как: ' + ${usrDetails.getUsername()}">VALUE</p>
<br/>
<p th:text="'Имя пользовтеля: ' + ${usrDetails.getUsername()}">VALUE</p>
<p th:text="'Фамилия: ' + ${usrDetails.getSurname()}">VALUE</p>
<p th:text="'Id пользователя: ' + ${usrDetails.getId()}">VALUE</p>
<p th:text="'Зашифрованный пароль пользователя: ' + ${usrDetails.getPassword()}">VALUE</p>
<p th:text="'Роль пользователя: ' + ${usrDetails.getRole()}">VALUE</p>
<br/>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout">
</form>
</body>
</html>